<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.stuartvancampen.favorplus">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".session.FavorPlusApplication">
        <activity
            android:name=".login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".login.SignUpActivity"
            android:label="@string/sign_up_activity_label"
            >

        </activity>

        <activity android:name=".maindrawer.MainDrawerActivity"
            android:label="@string/main_drawer_activity_label"
            />


        <activity android:name=".user.UserActivity"
            android:label="@string/main_drawer_activity_label"
            />

        <activity android:name=".transaction.TransactionActivity"
            android:label="@string/main_drawer_activity_label"
            />
    </application>

</manifest>
